body{
    margin: 0 auto;
    font-family: 'Istok Web', sans-serif;
    font-size: 14px;
    max-width: 1280px;
    box-sizing: border-box;
}

img{
    width: 100%;
    overflow: hidden;
}

img.logo, img.button{
    width: 32px;
    height: 32px;
}

img.button{
    overflow: visible;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

p{
    margin: 0px;
}

a{
    text-decoration: none;
}

.Title{
    min-height: 50px;
    font-size: 24px;
    color: #0A19A0;
    font-weight: bold;
    text-align: center;
}

.col25{
    width: 25%;
    margin: 0 10px;
}

.col33{
    width: 33%;
    margin: 0 15px;
}

.col50{
    width: 50%;
}

.col66{
    width: 66%;
}

.col100{
    width: 100%;
}

.flex-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-sp-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-col-sp-between{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*--HEADER--*/
#header-row-80px{
    background-color: #0A19A0;
}

.header{
    margin: 0;
}

#header-logo-text{
    align-items: center;
    height: 80px;
    padding: 0px 5px;
}

#header-logo{
    max-width: 80px;
}

#mobile-button{
    flex-direction: column;
    justify-content: center;
    padding: 0px 5px;
}

#header-text>p{
    text-decoration: none;
    font-size: 48px;
    color: #FFF;
}

nav{
    background-color: #0A64AF;
    z-index: 0;
    text-align: center;
}

li.dropdown{
    min-height: 30px;
    position: relative;
    margin: 0;
    
}

ul.submenu{
    display: none;
    background-color: #0A64AF;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    border-top: 1px solid transparent;
    z-index: 1;
}

li.dropdown:hover > ul{
    display: block;
}

.submenu>li{
    display: flex;
    justify-content: center;
    min-height: 20px;
    width: 100%;
    background-color: #0A64AF;
    padding: 5px 0;
}

.submenu>li>a{
    font-size: 14px;
    color: #FFF;
}

.menutext{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 20px;
    font-size: 18px;
    color: #FFF;
}

ul.submenu > li > a:hover {
    text-decoration: underline;
}

main {
    min-height: calc(100vh - 290px);
}

/*--Text Below Header--*/
#body-text-container{
    min-height: 50px;
    text-align: center;
}

#body-text-container,#body-text-container>div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#body-first-text{
    font-size: 36px;
    color: #0A19A0;
    font-weight: bold;
}

#body-first-text>h4,h5{
    margin: 20px 0px;
}

#body-second-text{
    font-size: 18px;
    justify-content: flex-end;
}

/*--Cyw module--*/

.cyw-module{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 20px 20px;
}

.Title>h4{
    margin: 20px 0px;
}

.cyw-module-ul{
    flex-direction: row;
    padding: 0px 40px;
}

figcaption.cyw-module{
    font-size: 24px;
    color: #000;
}

li.cyw-module>a{
    max-width: 100%;
}

figure.cyw-module{
    overflow: hidden;
    text-align: center;
    margin: 0;
}

figure.cyw-module > img{
    max-height: 350px;
    min-width: 100%;
}

/*---Cyw module  accordion*/

.accordion::before{
    content: '';
    position: absolute;
    top: -75px;
    right: calc(50% - 60px);
    border: 60px solid transparent;
    border-bottom: 15px solid #0A64AF;
}

.cyw-module>.accordion{
    background-image: url(images/BlueBackground.png);
    height: 480px;
    /*display: none;*/
    margin: 15px 0 0 0;
    padding: 30px 40px;
    box-sizing: border-box;
    color: #FFF;
    position: relative;
}

div.acc-row{
    height: calc((100% - 40px) / 2);
    padding: 10px 0;
}

div.acc-left>div{
    margin: 0 15px;
    justify-content: space-around;
}

div.acc-left > .text{
    align-items: center;
    font-size: 24px;
    font-weight: normal;
}

div.acc-text{
    height: 100%;
    overflow: hidden;
}

div.acc-right > div{
    height: 50%;
    align-items: center;
    font-size: 36px;
    margin: 15px 0;
}

div.acc-right > div > p{
    height: 36px;
}

/* Slider module*/

section.slider-module{
    margin: 50px 40px;
    position: relative;
    
}

section.slider-module>div,ul{
    margin: 0px ;
}


#slides {
    position: relative;
    min-height: 250px;
    height: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    min-height: 250px;
    width: 100%;
    opacity: 0;
    z-index: 1;
 
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}




 
.showing {
    opacity: 1;
    z-index: 2;
}

#slide1>.slider-image{
    background-image: url(images/podol.jpg);
}

#slide2>.slider-image{
    background-image: url(images/obolon.png);
}

.slider-image{
    background-size: 770px 250px;
    position: relative;
    min-height: 250px;
    max-width: 770px;
}

.slider-image::after{
    content: '';
    position: absolute;
    border: 15px solid transparent;
    border-right: 15px solid #0A19A0; 
    border-bottom: 15px solid #0A19A0;
    bottom: 20px;
    right: 250px;
}

div.slider-button{
    position: absolute;
    z-index: 3;
    left: 33%;
}

#down-button{
    bottom: 0;
}

#up-button{
    top: 100px;
}

.slider-image>h5{
    color: white;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    right: 0px;
    width: 250px;
    height: 30px;
    margin: 0px;
    background-color: #0A19A0;
}

/* E-mail form module*/

#email-form-module{
    width: 100%;
    align-items: center;
}

.Title-2row{
    height: 50px;
    font-size: 18px;
    color: #0A19A0;
    padding: 0 0 20px 0;
}

section.email-form > div > h4,h6{
    align-items: center;
    margin: 0px;
}

section.email-form > div > h6{
    font-size: 14px;
    color: #000;
    font-weight: normal;
}

form{
    margin: 0 40px;
    padding: 0 15px;
    min-height: 70px;
    background-color: #0A19A0;
    align-items: center;
}

#choose-currency>div {
    padding: 0 15px;
}

select{
    width: 100%;
    height: 40px;
    text-align: center;
    border: 0;
    padding: 0;
    margin: 15px 0;
}

input {
    background-color: #0F27FF;
    width: 100%;
    height: 80px;
    text-align: center;
    border: 0;
    padding: 0;
    margin: 15px 0;
}

#login-form > div > div > input{
    height: 40px;
}

#login-form > div > div >input[type=text], input[type=password] {
    color: #FFF;
    font-size: 20px;
}

input[type=text] {
    color: #FF0;
    font-size: 40px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    
    color: #FFF;
    opacity: 1; /* Firefox */
    font-size: 18px;
}


div.h5eader > h5{
    color: #FFF;
    font-size: 20px;
    margin: 15px 0;
}

div.h5eader > div > p{
    color: #FFF;
    font-size: 14px;
    margin: 10px 0;
}

.exchange-info{
    background-color: #0F27FF;
    border: 2px solid #0A19A0;
    min-height: 20px;
}

#email-button{
    background-color: #FF0;
    text-align: center;
    font-size: 24px;
    height: 40%;
    margin: 15px 0;
}

#email-button > a{
    color: #000;
}

.last-exchanges-list{
    margin: 0 40px 10px 40px;
    padding: 0px 15px 15px;
    min-height: 70px;
    background-color: #0A19A0;
    align-items: center;
}

/* Article and footer*/

article{
    margin: 50px 40px;
}

h6{
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

footer{
    padding: 10px 40px 10px;
    background-color: #0A19A0;
    color: #FFF;
    min-height: 160px;
}

footer>div{
    padding: 15px 0;
}

footer > div > h5{
    font-size: 20px;
    margin: 0 0 5px 0;
}


li.logo{
    margin: 15px;
}

img.footer-logo{
    height: 64px;
}

@media screen and (max-width: 1150px){
    #down-button{
        top: 100px;
        left: 33%;
        right: calc(67% - 62px);
        bottom: calc(100% - 82px);
    }

    #up-button{
        top: 100px;
        left: calc(33% - 62px);
        right: 67%;
    }
}

@media screen and (max-width: 960px){
    .mob-1col{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .mob-wid{
        width: 100%;
    }

    #header-row-80px{
        position: relative;
    }
    #mobile-button{
        display: flex;
        position: absolute;
        top: 24px;
        right: 0px;
    }

    nav{
        display: none;
    }

    #for-amateurs-accordion{
        background-image: none;
        background-color: #0A64AF;
        min-height: 480px;
        height: 100%;
        padding: 50px 15px;
    }

    #down-button{
        top: 100px;
        left: calc(50% + 32px);
        right: calc(50% - 32px);
        bottom: calc(100% - 82px);
    }

    #slides{
        min-height: 360px;
        margin: 0 10px;
    }

    .slider-text{
        margin: 0;   
        position: absolute;
        top: 250px;
        overflow: hidden;
    }

    #up-button{
        top: 100px;
        left: calc(50% - 32px);
        right: calc(50% + 32px);
    }

    #slider-module{
        margin: 50px 0;
    }

    form{
        margin: 0;
    }

    article{
        margin: 50px 15px;
    }
    
    footer{
        padding: 50px 15px 20px;
    }

    .last-exchanges-list{
        margin: 0;
        padding: 0;
    }

    .exchange-info{
        border: 0;
        border-bottom: 2px solid #0A19A0;
    }
}

@media screen and (max-width: 480px){
    #header-row-80px{
        justify-content: space-between;
    }
    #mobile-button{
        align-items: center;
    }
    #header-text>p{
        font-size: 40px;
    }
    #header-logo {
        max-width: 60px;
    }
    #slides{
        min-height: 400px;
    }
}


.hidden{
    display: none;
}

